{% extends "base.html" %}

{% block body %}
    <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% for blog in blogs %}
        <div class="post-preview">
            <a href="{% url 'detail' blog.pk %}">
                <h2 class="post-title">
                   {{ blog.content }}
                </h2>
            </a>
            <p class="post-meta">{{ blog.posted_date }}</p>
        </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}

